<% include ../partials/Header %>

<body>
	<div class="wrapper">
		<% include ../partials/RightBar %>

		<div class="main">
			<% include ../partials/SearchBar %>

			<main class="content">
				<!--Form ProductType-->
				<div class="col-md-12">
					<div class="card">
						<div class="card-body">
							<!-- BEGIN AddProductType modal -->
							<button type="button" class="btn btn-success" data-toggle="modal" data-target="#addTypeModal">
								Thêm loại sản phẩm
							</button>
							<div class="modal fade" id="addTypeModal" tabindex="-1" role="dialog" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Thêm loại sản phẩm</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body m-3">
											<form id="proTypeForm" enctype="multipart/form-data">
												<div class="form-group">
													<label class="form-label">Tên loại</label>
													<input type="text" name="typeName" class="form-control" placeholder="Tên loại sản phẩm">
												</div>
												<div class="form-group">
													<label class="form-label">Mô tả</label>
													<textarea class="form-control" name="addDescription" placeholder="Mô tả loại sản phẩm"
														rows="3"></textarea>
												</div>
												<div class="form-group">
													<label class="form-label w-100">Ảnh loại</label>
													<input name="typeImg" id="typeImg" type="file" onchange="loadImg(event)"
														accept="image/png, image/jpeg">
													<small class="form-text text-muted">
														<img name="typeImgForm" id="typeImgForm" src="#" height="200px" width="200px" alt="No IMG">
													</small>
												</div>
												<div class="form-group">
													<label class="custom-control custom-checkbox">
													</label>
												</div>
											</form>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
											<button type="button" id="btnSubmit" onclick="addType(event)" name="btnCreate"
												class="btn btn-success">Thêm mới</button>
										</div>
									</div>
								</div>
							</div>
							<!-- END AddProductType modal -->
							<!-- BEGIN EditProductType modal -->
							<div class="modal fade" id="editTypeModal" tabindex="-1" role="dialog" aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Cập nhật loại sản phẩm</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body m-3">
											<form id="editProTypeForm" enctype="multipart/form-data">
												<div class="form-group">
													<input type="text" name="editTypeId" hidden class="form-control">
													<label class="form-label">Tên loại</label>
													<input type="text" name="editTypeName" class="form-control" placeholder="Tên loại sản phẩm">
												</div>
												<div class="form-group">
													<label class="form-label">Mô tả</label>
													<textarea class="form-control" name="editDescription" placeholder="Mô tả loại sản phẩm"
														rows="3"></textarea>
												</div>
												<div class="form-group">
													<label class="form-label w-100">Ảnh loại</label>
													<input name="editTypeImg" id="editTypeImg" type="file" onchange="loadImgEdit(event)"
														accept="image/png, image/jpeg">
													<small class="form-text text-muted">
														<img name="editTypeImgForm" id="editTypeImgForm" src="#" height="200px" width="200px"
															alt="No IMG">
													</small>
												</div>
												<div class="form-group">
													<label class="custom-control custom-checkbox">
													</label>
												</div>
											</form>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
											<button type="button" id="btnSubmit" onclick="editType(event)" name="btnCreate"
												class="btn btn-success">Cập nhật</button>
										</div>
									</div>
								</div>
							</div>
							<!-- END EditProductType modal -->
							<!-- BEGIN DeleteProductType modal -->
							<div class="modal modal-colored modal-danger fade" id="DeleteProductTypeModal" tabindex="-1" role="dialog"
								aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Cảnh báo</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body m-3">
											<p name="typeIdDel" hidden></p>
											<p class="mb-0">Bạn có muốn xoá loại sản phẩm này?</p>
											<p name="typeNameDel"></p>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-light" data-dismiss="modal">Huỷ</button>
											<button type="button" onclick="deleteType(event)" class="btn btn-light">Xoá</button>
										</div>
									</div>
								</div>
							</div>
							<!-- END DeleteProductType modal -->
						</div>
					</div>
				</div>
				<!--table-->
				<div class="col-12 col-xl-12">
					<h2>Danh sách loại sản phẩm</h2>
					<div style="text-align:center;">
						<input style="display: inline;" type="text" class="form-control col-6" placeholder="Search…">
						<div style="display: inline;" class="input-group-append">
							<button class="btn" type="button">
								<i class="align-middle" data-feather="search"></i>
							</button>
						</div>
						<select style="display: inline;" id="limit" class="form-control col-2">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="10">10</option>
							<option value="25">25</option>
							<option value="50">50</option>
							<option value="100">100</option>
							<option value="500">500</option>
							<option value="9999">all</option>
						</select>
					</div>
					<div class="card">
						<br />
						<table class="table" id="myTable">
							<thead>
								<tr>
									<th hidden></th>
									<th style="width:20%;">Tên loại sản phẩm</th>
									<th style="width:20%">Mô tả</th>
									<th style="width:20%">Hình ảnh</th>
									<th style="width:20%">Tuỳ chỉnh</th>
								</tr>
							</thead>
							<tbody id="bodyTable">
								<% for (var i = 0; i < listProductType.length; i++) { %>
								<tr>
									<td hidden><%= listProductType[i]._id %></td>
									<td><%= listProductType[i].typeName %></td>
									<td><%= listProductType[i].description %></td>
									<td>
										<img src="<%= listProductType[i].typeImg %>" class="avatar img-fluid" alt="No IMG">
									</td>
									<td class="table-action">
										<button type="button" value="<%= listProductType[i]._id %>" onclick="showDetails(this)"
											name="btn_detail"><i class="align-middle" data-feather="edit-2"></i></button>
											<button type="button" value="<%= listProductType[i]._id %>,<%= listProductType[i].typeName %>" onclick="showDelete(this)"
												name="btn_detail"><i class="align-middle" data-feather="trash"></i></button>
									</td>
								</tr>
								<% } %>

							</tbody>
						</table>
					</div>
					<!-- Page phân trang -->
					<div id="countPage">
						<% for (var i = 0; i < countPage; i++) { %>
						<button name="pagetype" onclick="phanTrang(i)" style="background-color:dimgray;" value="<%= i %>"
							type="button"><%= i %></button>
						<% } %>
					</div>
				</div>
			</main>
			<% include ../partials/Footer %>
		</div>
	</div>
	<script type="text/javascript">
		var addType = function (event) {
			event.preventDefault();
			var formData = new FormData();

			var typeName = $('[name=typeName]').val();
			var des = $('[name=addDescription]').val();
			var file = $('[name=typeImg]').get(0).files;

			formData.append('imgType', file[0]);
			formData.append('typeName', typeName);
			formData.append('description', des);

			$.ajax({
				url: 'productType/addType',
				type: 'POST',
				data: formData,
				cache: false,
				contentType: false,
				processData: false,
			}).done(function (result) {
				if (result.success) {
					alert(result.mgs)
					location.reload()
				} else {
					alert(result.mgs)
				}
			}).fail(() => {
				alert("Không kết nối được với server")
			})
		}
		var phanTrang = function (page) {
			var limit = $("#limit option:selected").text();
			var formData = new FormData();
			formData.append('page', page);
			formData.append('limit', limit);
			$.ajax({
				url: 'productType/getTypePage',
				type: 'POST',
				data: formData,
				cache: false,
				contentType: false,
				processData: false,
			}).done(function (result) {
				if (result.success) {
					$('#bodyTable').empty();
					$('#countPage').empty();
					for (let i = 0; i < result.countPage; i++) {
						$('#countPage').append(`<button name="pagetype" onclick="phanTrang(${i})" style="background-color:dimgray;" value="${i}"
							type="button">${i}</button>
					</div>`)
					}
					for (let type of result.listProductType) {
						$('#bodyTable').append(
							`<tr>
								<td hidden> ${type._id} </td>
								<td> ${type.typeName} </td>
								<td> ${type.description}</td>
								<td>
									<img src="${type.typeImg}" class="avatar img-fluid" alt="No IMG">
								</td>
									<td class="table-action">
										<button type="button" value="${type._id}" onclick="showDetails(this)"
											name="btn_detail">	<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 align-middle"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg></button>
											<button type="button" value="${type._id},${type.typeName}" onclick="showDelete(this)"
												name="btn_detail"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash align-middle"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg></button>
									</td>
							</tr>`
						)
					}
				} else {
					alert(result.mgs)
				}
			}).fail(() => {
				alert("Không kết nối được với server")
			})
		}
		var editType = function (event) {
			event.preventDefault();

			var formData = new FormData();
			var typeId = $('[name=editTypeId]').val();
			var typeName = $('[name=editTypeName]').val();
			var des = $('[name=editDescription]').val();
			var file = $('[name=editTypeImg]').get(0).files;

			formData.append('typeId', typeId);
			formData.append('imgType', file[0]);
			formData.append('typeName', typeName);
			formData.append('description', des);

			$.ajax({
				url: 'productType/editType',
				type: 'POST',
				data: formData,
				cache: false,
				contentType: false,
				processData: false,
			}).done(function (result) {
				if (result.success) {
					alert(result.mgs)
					location.reload()
				} else {
					alert(result.mgs)
				}
			}).fail(() => {
				alert("Không kết nối được với server")
			})
		}
		var deleteType = function (event) {
			event.preventDefault();

			var formData = new FormData();
			var typeId = $('[name=typeIdDel]').text();

			formData.append('typeId', typeId);

			$.ajax({
				url: 'productType/deleteType',
				type: 'POST',
				data: formData,
				cache: false,
				contentType: false,
				processData: false,
			}).done(function (result) {
				if (result.success) {
					alert(result.mgs)
					location.reload()
				} else {
					alert(result.mgs)
				}
			}).fail(() => {
				alert("Không kết nối được với server")
			})
		}
		var loadImg = function (event) {
			$('#typeImgForm').attr('src', URL.createObjectURL(event.target.files[0]));
		};
		var loadImgEdit = function (event) {
			$('#editTypeImgForm').attr('src', URL.createObjectURL(event.target.files[0]));
		};
		///getProductById
		var showDetails = function (objButton) {
			// alert(objButton.value);
			let value = objButton.value // {id: "5f2253f290a3911d6acf7d30" , cusname:"asssss" }
			var typeId = value
			// event.preventDefault();

			var formData = new FormData();
			formData.append('typeId', typeId);
			$.ajax({
				url: 'productType/getProductById',
				type: 'POST',
				data: formData,
				cache: false,
				contentType: false,
				processData: false,
			}).done(function (result) {
				if (result.success) {
						$('#editTypeImgForm').attr('src', result.productType.typeImg);
				$('[name=editTypeId]').val(result.productType._id);
				$('[name=editTypeName]').val(result.productType.typeName);
				$('[name=editDescription]').val(result.productType.description);
					$('#editTypeModal').modal('show');
				} else {
					alert(result.mgs)
				}
			}).fail((error) => {
				alert("Không kết nối được với server")
			})
		};
		var showDelete = function (objButton) {
			// alert(objButton.value);
			let value = objButton.value // {id: "5f2253f290a3911d6acf7d30" , cusname:"asssss" }
			var values = value.split(',', 2);
			var typeId = values[0]
			var name = values[1]
			$('[name=typeIdDel]').text(typeId);
			$('[name=typeNameDel]').text(name);
					$('#DeleteProductTypeModal').modal('show');
		};
		//Phan trang
		$('#limit').on('change', function () {
			var optionSelected = $("option:selected", this);
			phanTrang(0)
		});
		$('[name=pagetype]').click(function () {
			var page = ($(this).val());
			phanTrang(page)
		});
		$('[name=btn_delete]').click(function () {
			var typeIdDel = ($(this).parent().parent().children().eq(0).html());
			var name = ($(this).parent().parent().children().eq(1).html());
			$('[name=typeIdDel]').text(typeIdDel);
			$('[name=typeNameDel]').text(name);
		});
	</script>
	<script src="js/app.js"></script>
	<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
</body>

</html>